@model List<SupplierModel>
@{
    ViewData["Title"] = "List Supplier";
}

<div class="text-center">
    <h1 class="display-4">List Supplier</h1>
    <a class="btn btn-primary" asp-controller="Supplier" asp-action="Create">Create Supplier</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Tên</th>
                <th>Địa chỉ</th>
                <th>Điện thoại</th>
                <th>Email</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var s in Model)
            {
                <tr>
					<td>@s.Name</td>
					<td>@s.Address</td>
					<td>@s.Phone</td>
					<td>@s.Email</td>
					<td>
						<a class="btn btn-sm btn-warning" asp-controller="Supplier" asp-action="Edit" asp-route-id="@s.Id">Edit</a>
						<form asp-controller="Supplier" asp-action="Delete" asp-route-id="@s.Id" method="post" style="display:inline-block" onsubmit="return confirm('Are you sure you want to delete this supplier?');">
							<button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
					</td>
                </tr>
            }
        </tbody>
    </table> 
</div>
